/* src/styles/About.module.css */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profileImage {
  border-radius: 50%;
  padding: 2rem;
}

.aboutText {
  text-align: left;
}

/* さらに小さい画面、480px以下の場合 */
@media (max-width: 480px) {
  .profileContainer {
    display: block;
  }
}
