/* src/styles/Contact.module.css */

.contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 左揃えにする */
}

.email {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  color: #555;
}

.link:hover .icon {
  transform: scale(1.1);
  color: #4682b4;
}

.link:hover p {
  color: #4682b4;
}
