/* src/styles/Contact.module.css */

.contact {
  text-align: left;
}

#h2 {
  font-size: 1.8rem;
  color: #444;
}

#p {
  font-size: 1rem;
  color: #555;
}

.link {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
