/* src/styles/Contact.module.css */

.contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 左揃えにする */
  margin-bottom: 1rem;
  color: #444;
}


.email {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #444;
}

.link:hover {
  color: #333;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.link:hover .icon {
  transform: scale(1.2);
}
