// 共通スタイル
%flex-align-center {
  display: flex;
  align-items: center;
}

%input-style {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

// Contact Item
.contactItem {
  @extend %flex-align-center;
  justify-content: flex-start; // 左揃えにする
  padding-left: 1rem;
}

// Text
.text {
  margin: 0.5rem;
  font-size: 1.1rem;
}

// Link
.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  .icon {
    font-size: 1.1rem;
    transition: transform 0.3s ease;
    color: #555;
  }

  &:hover {
    .icon {
      transform: scale(1.1);
      color: #4682b4;
    }

    p {
      color: #4682b4;
    }
  }
}

// Form
.form {
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background-color: #a6b1a029;
}

// Form Group
.formGroup {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }

  input,
  textarea {
    @extend %input-style;
  }

  input::placeholder,
  textarea::placeholder {
    color: #bbb;
  }

  textarea {
    resize: vertical;
    height: 150px;
  }
}

// Button
.button {
  width: 100%;
  padding: 0.8rem;
  background-color: #83aa6efc;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #83aa6ebf;
  }
}

// Status
.status {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #333;
}
