:root {
  --bg-color: #f5f5f5;
  --text-color: #333333;
  --main-color: #79bde9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;

  a {
    color: var(--text-color);
    transition: color 0.5s;
    &:hover {
      color: var(--main-color);
    }
  }

  h1 {
    font-size: 2rem;
    color: #333;
  }

  h2 {
    font-size: 1.8rem;
    color: #444;
  }

  h3 {
    font-size: 1.4rem;
    color: #555;
  }

  p {
    font-size: 1rem;
    color: #555;
  }

  section {
    background-color: #fff;
    padding: 4rem;
    border-radius: 10px;
    max-width: 600px; /* セクションの最大幅を指定 */
    width: 100%; /* セクションが親要素の幅に応じてサイズを変更 */
    margin: 0 auto; /* セクションを中央に配置 */
  }
}
